* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
}
.zhuxian {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*display: none;*/
}
.zhuxian .zhuxian-bg{
    position: absolute;
    width: 7.5rem;
    z-index: 2;
}
.zhuxian .des {
    position: absolute;
    width: 0.95rem;
    left: 6.2rem;
    top: 0.5rem;
    z-index: 100;
    display: none;
}
.msg {
    position: relative;
    width: 6.7rem;
    height: 2.12rem;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    border-radius: 1.5rem;
}
.msg .circle {
    position: absolute;
    z-index: 20;
    width: 2.52rem;
    left: -0.1rem;
    top: -0.25rem;
}
.msg .circle-img {
    position: absolute;
    z-index: 30;
    width: 1.92rem;
    left: 0.2rem;
    top: 0.05rem;
}
.msg .detail p {
    margin-top: 0.07rem;
}
.msg .detail {
    position: absolute;
    left: 2.5rem;
    font-size: 0.26rem;
    color: #2063b4;
    margin-top: 0.25rem;
}
.msg .detail .detail-title {
    float: left;
}
.msg .detail .detail-msg {
    display: inline-block;
    width: 2.65rem;
    height: 0.36rem;
    color: #ffffff;
    background-color: #2063b4;
    border-radius: 0.2rem;
    padding-left: 0.2rem;
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wrapper {
    position: relative;
    z-index: 10;
    display: none;
}
.swiper-container {
    height: 3.9rem;
    overflow: unset;
}
.swiper-slide img{
    height: 3.8rem;
}
.swiper-wrapper {
    top: -0.3rem;
    height: 3.9rem;
}
.wrapper-swiper {
    z-index: 2;
    position: relative;
}
.wrapper-swiper .bg {
    position: absolute;
    z-index: 2;
    width: 7.5rem;
    top: -2.58rem;
}
.meng-sec {
    display: none;
    margin-top: 0.9rem;
    width: 7.5rem;
}
.button-swiper {
    position: absolute;
    z-index: 20;
}
.button-swiper-prev {
    top: 100%;
    left: 0.3rem;
    background: url('../images/left.png');
    background-size: 0.98rem 0.98rem;
    width: 0.98rem;
    height: 0.98rem;
}
.button-swiper-next {
    top: 100%;
    left: 6.2rem;
    background: url('../images/right.png');
    background-size: 0.98rem 0.98rem;
    width: 0.98rem;
    height: 0.98rem;
}
/*.swiper-button-prev {
    background: url('../images/left.png');
    background-size: 0.98rem 0.98rem;
    width: 0.98rem;
    height: 0.98rem;
}
.swiper-button-next {
    background: url('../images/right.png');
    background-size: 0.98rem 0.98rem;
    width: 0.98rem;
    height: 0.98rem;
}*/
.view-wrapper {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
    height: 2.56rem;
    z-index: 2;
}
.view-word {
    display: block;
    position: absolute;
    width: 2.9rem;
    left: 50%;
    margin-left: -1.45rem;
    top: -74%;
    z-index: 1;
}
.view-des {
    width: 5rem;
    position: absolute;
    top: 1.3rem;
}
.view-btn {
    position: absolute;
    width: 3rem;
    left: 50%;
    margin-left: -1.5rem;
    top: 3rem;
    z-index: 12;
}
.logo {
    text-align: center;
    padding-top: 0.29rem;
    padding-bottom: 0.65rem;
    height: 1.64rem;
    position: relative;
    z-index: 10;
}
.logo img {
    width: 1.8rem;
}
.button {
    width: 6.42rem;
    position: relative;
    margin: 0 auto;
    margin-top: 1.28rem;
    line-height: 0;
}
.button img {
    width: 6.42rem;
    margin-bottom: 0.37rem;
}
.back360 img{
    position: absolute;
    width: 0.95rem;
    left: 6.2rem;
    top: 0.5rem;
    z-index: 100;
}
.home-des {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.tip {
    width: 7.2rem;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    top: 1.8rem;
}
.tip-close {
    position: absolute;
    width: 0.88rem;
    left: 50%;
    margin-left: -0.44rem;
    top: 6.5rem;
}
.hands {
    display: none;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.hands img {
    position: absolute;
    width: 6.55rem;
    margin-top: 1.9rem;
    margin-left: -3.275rem;
    left: 50%;
    z-index: 10000;  
}
.hands p {
    position: absolute;
    width: 7.5rem;
    text-align: center;
    font-size: 0.36rem;
    color: #ffffff;
    top: 57%;
}
.download-a {
    display: inline-block;
}