.header {
	height: 40px;
	width: 600px;
	background-color: #f0f0f0;
	line-height: 40px;
}
#imgName {
	width: 200px;
}
#selectPic {
	width: 64px;
}
.imgContainer {
	float: left;
	border: 1px solid #9baab3;
	margin: 10px 0px;
	width: 298px;
	height: 298px;
	background-image: url(./unload.png);
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0, 0.4);
}
.imgContainer {
	float: left;
	border: 1px solid #9baab3;
	margin: 10px 0px;
	width: 298px;
	height: 298px;
	background-image: url(   ./unload.png);
	background-image: url(   ../unload.png);
	background-image: url( http://121212.qw/unload.png);
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0, 0.4);
}
.imgContainer {
	float: left;
	border: 1px solid #9baab3;
	margin: 10px 0px;
	width: 298px;
	height: 298px;
	background-image: url(../img/unload.png);
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0, 0.4);
}